.codeswitchtable {
    border: 1px solid #000000
}

.whitebg {
    background-color: #FFFFFF;

}

.yellowbg {
    background-color: #FFFF00;

}

.orangebg {
    background-color: #FFA500;
}

.buttonstyle {
  font-size: 12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;

  margin: 0px;
  padding: 10px;
  background-color: #008080;
  color: #FFFFFF;
  border-style: none;
}

.body {
        padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.clickable {
	cursor: pointer;
	margin: 0px;
	padding: 1px;

}

.clickable:hover {
	border: 1px solid gray;
	padding: 0px;
}
